body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.matrix-input,.box, .matrix-output, .explanation {
    margin-bottom: 20px;
    padding: 20px auto;
 
}
input[type="text"], input[type="number"] {
    width: 90px;
    margin: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}